@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gelo: #EDEDE9;
  --creme: #F5EBE0;
  --marromClaro: #E3D5CA;
  --marromMedio: #D6CCC2;
  --marromEscuro: #D5BDAF;
}

body {
  padding: 20px;
}

.isLight {
  background-color: var(--gelo);
  color: black;
}

.isDark {
  background-color: #111111;
  color: var(--gelo);
}

header > #topo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

header > #topo >  h1 {
  width: 150px;
  font: bold 1.4em 'Open Sans';
  background-color: #444;
  color: var(--marromClaro);
  border-radius: 5px;
  text-align: center;
}

header > #topo > article {
  font: 500 0.8em 'Open Sans';
}

header > #topo > article > span {
  display: inline-block;
  background-color: darkgray;
  width: 42px;
  padding: 1px 3px;
  border-radius: 30%;
  cursor: pointer;
}

header > #topo button {
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding-right: 10px;
  border: 2px solid #111;
  cursor: pointer;
}

header > aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > aside > h2 {
  font: bold 1em 'Open Sans';
}

header > aside > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

textarea {
  background-color: var(--creme);
}

.inputs {
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

input[type="color"] {
  border: none;
  outline: none;
  height: 38px;
  padding: 0;
}

main > div {
  position: relative;
  display: inline-block;
  min-width: 120px;
  max-width: 100vw;
  max-height: 200px;
  overflow-x: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
}

div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--marromClaro);
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  background-color: var(--marromEscuro);
  border-radius: 5px;
}

p {
  display: inline-block;
  min-width: 120px;
  max-width: 95vw;
  padding: 5px 5px 5px 0;
  padding: 10px;
  border-radius: 5px;
  padding-right: 18px;
}

pre {
  display: inline;
  min-width: 80px;
  max-width: 300px;
}

#container > div > button {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 18px;
  padding: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#container > div > button:hover {
  border-radius: 3px;
  background-color: darkgray;
}

@keyframes onModoEscuro {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 11px;
  }
  100% {
    margin-left: 22px;
  }
}
@keyframes offModoEscuro {
  0% {
    margin-left: 22px;
  }
  50% {
    margin-left: 11px;
  }
  100% {
    margin-left: 0;
  }
}

@media screen and (min-width: 800px) {
  header > #topo {
    gap: 0px;
    padding-right: 100px;
  }

  header > #topo >  h1 {
    width: 220px;
    font: bold 2em 'Open Sans';
  }
}